@model Abc.MvcWebUI.Models.Cart



<ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/Cart">
            <i class="fas fa-cart-plus"></i>
            (@Model.CartLines.Count)
        </a>
    </li>
</ul>
